{% extends '_base.html' %} {% load bootstrap %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section-title">
        <h3>Editar Postagem</span></h3>
      </div>
    </div>
  </div>
  <form action="/auxilio/editar/{{ auxilio.id }}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|bootstrap }}

    <button class="px-3 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"  type="submit" value="submit">Salvar</button>
  </form>
</div>
{% endblock %}


