{% extends 'publico.html' %}
{% block content %}
{% load static %}
{% load bootstrap%}
<br><br>
<div class="container px-6 mx-auto grid">
    <main class="h-full pb-6 overflow-y-auto">

                <div class="flex items-center px-6 mx-auto grid">
                  <div class="flex items-center px-6 mx-auto grid">
                      <div class="flex items-center px-6 mx-auto grid">
                <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
                  <div
                  class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
                >
                O primeiro curso a ser ofertado no que conhecemos como Instituto Federal Baiano campus Guanambi. Assim como os demais, o curso dura três anos e é simultâneo ao Ensino Médio. No quesito técnico, desde o primeiro ano o discente é introduzido em disciplinas como Agricultura, Zootecnia, Mecanização. Ao avançar no curso, aprofunda-se também os conhecimentos com: Bovinocultura, Irrigação e Drenagem, Construções e Instalações Rurais, etc. Após conclusão, o técnico tem plena condição de analisar as condições de atividades econômicas desenvolvidas na região, bem como manejar o solo, animais, planejar  e executar projetos e colheitas.  O estágio é um quesito obrigatório.
              </div></div></div></div></div>
  <br>


</div><p
class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
>
<div class="container grid px-6 mx-auto">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Nossas histórias
  </h2></div>
  </h2><br><br><br>
<div class="container px-6 mx-auto grid">
<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img title="biblioteca" src="{% static '/img/40.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/33.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/21.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/19.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img src="{% static '/img/17.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/13.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/7.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/5.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
  
      

</div></div></div></div></div>
</main></div>
{% endblock %}
