{% extends 'publico.html' %}
{% block content %}
{% load static %}


<div class="container grid px-6 mx-auto">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
 Ingresso
  </h2></div>
<!-- Cards -->
<div class="grid gap-6 mb-8 md:grid-cols-6 xl:grid-cols-6">
    <!-- Card -->
    <div
      class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
    >
      <div
        class="p-24 mr-4 text-orange-500 bg-orange-100 dark:text-orange-100 dark:bg-orange-500"
      >
      <img
      class="object-cover w-full h-full "
      src="{% static '/img/37.jpeg' %}"
      alt=""
      loading="lazy"
    />
      </div>
      <div>
        <p
          class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
        >
        Para ingressar no Instituto Federal Baiano campus Guanambi, o aluno deve escolher e verificar em qual modalidade possui os requisitos necessários. Na classificação Ensino Médio Integrado com Curso Técnico, o candidato à vaga precisa ter concluído o Ensino Fundamental II (9º ano). 
        </p>
        <p
          class="text-lg font-semibold text-gray-700 dark:text-gray-200"
        >
          
        </p>
      </div>
    </div>
    <br>
    <div class="grid gap-6 mb-8 md:grid-cols-6 xl:grid-cols-6">
        <!-- Card -->
        <div
          class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
        >
          <div
            class="p-24 mr-4 text-orange-500 bg-orange-100 dark:text-orange-100 dark:bg-orange-500"
          >
          <img
          class="object-cover w-full h-full "
          src="{% static '/img/31.jpeg' %}"
          alt=""
          loading="lazy"
        />
          </div>
          <div>
            <p
              class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
            Assim, o mesmo deve esperar o início do Processo Seletivo que ocorre, normalmente, por análise do histórico escolar.  É importante resaltar  que o Instituto segue a chamada Lei de Cotas, com a distribuição de vagas de acordo algumas classificações, como ser oriundo de escola pública, negro, indígena, renda, etc. O aluno deve se atentar ao Edital que é lançado no ponto de partida do processo que seleciona os ingressantes, nele contém todos os documentos necessários e também como se dá toda a etapa de admissão. 

            </p>
            <p
              class="text-lg font-semibold text-gray-700 dark:text-gray-200"
            >
            </p>
          </div>
        </div><br>
        <br>
    <div class="grid gap-6 mb-8 md:grid-cols-6 xl:grid-cols-6">
        <!-- Card -->
        <div
          class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
        >
          <div
            class="p-24 mr-4 text-orange-500 bg-orange-100 dark:text-orange-100 dark:bg-orange-500"
          >
          <img
          class="object-cover w-full h-full "
          src="{% static '/img/14.jpeg' %}"
          alt=""
          loading="lazy"
        />
          </div>
          <div>
            <p
              class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
            O IF Baiano também possui outras modalidades de cursos, como o Subsequente. Nele as etapas são semelhantes a do Integrado,  mas diverge em seu requisito primordial, pois o candidato precisa já ter concluído o Ensino Médio.  Há também os Cursos de nível Superior, onde o processo seletivo é mais complexo, por meio da nota alcançada no Ensino Nacional do Ensino Médio. Neste campus são ofertados os seguintes cursos: Ciências Biológicas, Engenharia Agronômica, Licenciatura em Química, Tecnologia em Agroindústria, Análise e Desenvolvimento de Sistemas. 

            </p>
            <p
              class="text-lg font-semibold text-gray-700 dark:text-gray-200"
            >
            </p>
          </div>
        </div><br>
        <br>
    <div class="grid gap-6 mb-8 md:grid-cols-6 xl:grid-cols-6">
        <!-- Card -->
        <div
          class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800"
        >
          <div
            class="p-24 mr-4 text-orange-500 bg-orange-100 dark:text-orange-100 dark:bg-orange-500"
          >
          <img
          class="object-cover w-full h-full "
          src="{% static '/img/39.jpeg' %}"
          alt=""
          loading="lazy"
        />
          </div>
          <div>
            <p
              class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
            >
            Obs: O calendário acadêmico do IF Baiano está atrasado em razão dos efeitos da pandemia do COVID- 19, logo o processo seletivo ocorre nos meados do ano civil. Os ingressantes iniciam sua caminhada estudantil no mês de agosto. 


            </p>
            <p
              class="text-lg font-semibold text-gray-700 dark:text-gray-200"
            >
            </p>
          </div>
        </div><br>
        <br>
    

{% endblock %}