{% extends 'publico.html' %}
{% block content %}
{% load static %}
<div class="col-md-6 px-0">
  <h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
Organograma
</h2>
<div class="flex items-center px-6 mx-auto grid">
  <div class="flex items-center px-6 mx-auto grid">
      <div class="flex items-center px-6 mx-auto grid">
<div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
  <div class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    <img src="{% static '/img/organograma-novo1.png' %}"/><br><br><i>Fonte: Instituto Federal Baiano  Campus Guanambi
</div> </div></div></div></div></div>

{% endblock %}