
{% extends 'publico.html' %}
{% block content %}
{% load static %}
{% load bootstrap%}
<div class="container px-6 mx-auto grid">
    <main class="h-full pb-6 overflow-y-auto">
  
              <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                  <p class="text-sm text-gray-600 dark:text-gray-400">
                      <i>Curso Técnico em Informática para a Internet
                        Iniciado em 2017, o Curso Técnico em Informática para a Internet ofertado pelo campus Guanambi destina-se àqueles alunos que já concluíram o Ensino Fundamental II, ou seja, o 9º ano.</i>
                  </p>
                </div>
                <div class="flex items-center px-6 mx-auto grid">
                  <div class="flex items-center px-6 mx-auto grid">
                      <div class="flex items-center px-6 mx-auto grid">
                <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
                  <div
                  class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
                >
                Numa perspectiva mais intimista, é o curso integrado mais novo nessa categoria, porém isso não o torna mais fácil. É realizado (assim como o nome sugere) de forma integrada em período diurno juntamente com o Ensino Médio tradicional. Após passar por uma pequena adequação do currículo, o curso é focado no desenvolvimento web (sim, desenvolvimento de sites e sistemas para navegador). Nele o discente aprende tanto sobre a área de redes de computadores ( a questão de cabeamento, por exemplo), há uma período sobre informática básica, porém o foco é em Lógica de Programação, HTML, CSS, Bootstrap, Javascript. Após, o discente começa a caminhar para áreas mais complexas, como a linguagem Python e framework Django, arquitetura de servidores e demais assuntos pertinentes. É o único curso em que desenvolver o PCC (Projeto de Conclusão de Curso) é obrigatório para a formação, não se esqueça do estágio.<br>      Muita coisa, não? 
              </div></div></div></div></div>
  <br>


</div><p
class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
>
<div class="container grid px-6 mx-auto">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Nossas histórias
  </h2></div>
  </h2><br><br><br>
<div class="container px-6 mx-auto grid">
<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img title="biblioteca" src="{% static '/img/41.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/40.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/44.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/43.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img src="{% static '/img/48.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/49.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/52.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/53.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img title="biblioteca" src="{% static '/img/9.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/10.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/3.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/4.jpeg' %}">
      </div>
    </div>
  </div></div></div>

</div></div></div></div></div>
</main></div>
{% endblock %}
