
{% extends 'publico.html' %}
{% block content %}
{% load static %}
{% load bootstrap%}
<div class="container px-6 mx-auto grid">
    <main class="h-full pb-6 overflow-y-auto">
  
              <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                  <p class="text-sm text-gray-600 dark:text-gray-400">
                      <i>Os cursos ofertados na modalidade subsequente ao ensino médio são: agricultura, zootecnia. em nível superior há os cursos de licenciatura em química, tecnologia em agroindústria, bacharelado em agronomia, análise e desenvolvimento de sistemas e, o mais recente, ciências biológicas.
                    </i>
                  </p>
                </div>
                <div class="flex items-center px-6 mx-auto grid">
                  <div class="flex items-center px-6 mx-auto grid">
                      <div class="flex items-center px-6 mx-auto grid">
                <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
                  <div
                  class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
                >
                Bacharelado em Engenharia Agronômica <br><br>
	O IF Baiano é referência em estrutura física na questão agrotécnica, pois possui um grande número dos chamados Laboratórios didáticos. Além claro de contar com professores de alta qualidade, pois a maioria deles possui mestrado e doutorado. Possui plantação de diversas culturas, e também: setores de Bovinocultura de Leite e Carne, ovinos, caprinos, suinocultura, avicultura, cunicultura, agroindústria, mecanização.
              </div></div></div></div></div>
  <br>
  <div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
  >
 
Licenciatura em Ciências Biológicas<br><br>

Possuindo ao todo uma carga horária de 3.720 horas distribuídas em oito semestres. São ofertadas 40 vagas, ofertadas através do Sistema de Seleção Unificada, distribuídas em cotas. O curso é articulado para explorar as áreas de ensino, pesquisa e extensão. Seu objetivo é formar um profissional pautado nos princípios humanos, científicos, tecnológicos e pedagógicos. 
</div></div></div></div></div>
<br>
<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
  >
  Licenciatura em Química<br><br>
  Tal curso busca formar docentes que atuem na Educação Básica ou que atuem em laboratórios de indústrias das mais diversas finalidades, como: química, farmacêutica, alimentícia. Possui professores com alto grau de formação e laboratórios para consolidar o conhecimento adquirido. 
</div></div></div></div></div>
<br>  <div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
  >
 

  Tecnologia em Agroindústria
  <br><br>
      Focado em formar um profissional que saiba planejar e executar todo o processo agroindustrial, desde o processamento até a comercialização do produto. Pode atuar também na gestão, organização,e execução ou direção da produção animal e vegetal, para o beneficiamento e controle das etapas produtivas. 
</div></div></div></div></div>
<br>
<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
  >
  Tecnologia em Análise e Desenvolvimento de Sistemas. <br><br>
  Tal curso forma profissionais que conseguem tanto conceber, planejar, implementar, avaliar e fazer a manutenção de sistemas computacionais com o objetivo de solucionar demandas do setor produtivo. São ofertadas 40 vagas anuais e o curso tem duração de dois anos e meio. 

</div></div></div></div></div>
<br>
</div><p
class="mb-4 text-sm font-medium text-gray-600 dark:text-gray-400"
>
<div class="container grid px-6 mx-auto">
  <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
    Nossas histórias
  </h2></div>
  </h2><br><br><br>
<div class="container px-6 mx-auto grid">
<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img title="biblioteca" src="{% static '/img/54.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/55.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/56.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/57.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img src="{% static '/img/58.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/59.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/62.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/4.jpeg' %}">
      </div>
    </div>
  </div>

  <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        
      </div>
      <div>
        <img title="biblioteca" src="{% static '/img/5.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
       
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/50.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/51.jpeg' %}">
      </div>
    </div>
    <!-- Card -->
    <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
      <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
        
      </div>
      <div>
        <img class="d-block w-100" src="{% static '/img/61.jpeg' %}">
      </div>
    </div>
  </div></div></div>

</div></div></div></div></div>
</main></div>
{% endblock %}
