{% extends '_base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container px-6 mx-auto grid">
    <main class="h-full pb-6 overflow-y-auto">
  
              <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                  <p class="text-sm text-gray-600 dark:text-gray-400 text-center">
                      <i>Olá, estudante. Seja bem-vindo a maravilhosa viagem rumo ao conhecimento… ... .
                        <br>fala sério, você pensou que iria começar assim? Tão clichê.
                    </i>
                  </p>
                </div>
                <div class="flex items-center px-6 mx-auto grid">
                  <div class="flex items-center px-6 mx-auto grid">
                      <div class="flex items-center px-6 mx-auto grid">
                <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
                  <div
                  class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white "
                >
                <img title="logo tipo" data-image-width="7" data-image-height="855" src="{% static '/img/iforme.jpeg' %}"> 
              </div></div></div></div></div>


              <div class="flex items-center px-6 mx-auto grid">
                <div class="flex items-center px-6 mx-auto grid">
                    <div class="flex items-center px-6 mx-auto grid">
              <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
                <div
                class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
              Eu sou o IFormes, mas pode me chamar de Corujão, e vou ser seu principal aliado para saber o que rola de mais importante no Campus. Pode me considerar aquele/a amiga/o maria fifi que te conta tuuuudo. 
              <br><br>
              Mas vamos lá, coisas básicas que você precisa saber:
            </div></div></div></div></div>
  <br>

  <!--carrosel-->
  <div class="container px-6 mx-auto grid">
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
            
          </div>
          <div>
            <img title="biblioteca" src="{% static '/img/1.jpeg' %}">
          </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
           
          </div>
          <div>
            <img class="d-block w-100" src="{% static '/img/40.jpeg' %}">
          </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
            
          </div>
          <div>
            <img class="d-block w-100" src="{% static '/img/3.jpeg' %}">
          </div>
        </div>
        <!-- Card -->
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
          <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
            
          </div>
          <div>
            <img class="d-block w-100" src="{% static '/img/37.jpeg' %}">
          </div>
        </div>
      </div>

      
      
<br><br>
<div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    Você está eufórico que passou para o Instituto Federal, mas é preciso lembrar: isso vai exigir muito de você, tanto em gestão de tempo, estudos e ânimo, pois são muitas aulas;

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    O campus possui uma biblioteca que pode tanto ser usada como local de estudos (detalhe: tem ar-condicionado, mores) e também para retirar livros. O acervo vai desde as diversas áreas até livros da literatura estrangeira. A mesma funciona de segunda a sexta, das 07h30 às 22h30.  Para ter acesso a esses serviços é preciso possuir um cadastro que é feito na própria biblioteca. 

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    Para permanência na biblioteca é necessário utilizar os guarda-volumes por até 4 horas, excedendo tal tempo e não renovando a posse da chave, ocorrerá a suspensão dos serviços de empréstimo.

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
   

 Importantíssimo: crie um horário de estudo semanal. Não deixe para estudar na véspera. Afinal não quero ver você rodar em uma matéria, pois inventou de estudar a matéria do semestre um dia antes, hein?


</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    Experimente os diversos métodos de estudos e veja qual mais se adequa a você.


</div></div></div></div></div>
<br>

<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    Para permanência na biblioteca é necessário utilizar os guarda-volumes por até 4 horas, excedendo tal tempo e não renovando a posse da chave, ocorrerá a suspensão dos serviços de empréstimo.

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    Se o trabalho for em grupo, faça sua parte e contribua com a execução. Nada de escorar no coleguinha, viu? Estou de olho. 

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    concentre-se nas aulas, pois isso te poupará um tempo em casa. Quem sabe depois de estudar dê tempo de ver aquela série?

</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    Faça as atividades pedidas, pois você estará exercitando o que aprendeu. 
</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    Não surte na hora da prova! Fique calmo, prepare-se com antecedência e use o tempo disponível. Evite as chamadas pescas, pois isso não vai fazer de você um profissional competente. 

</div></div></div></div></div>
<br>



<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    O uniforme é essencial, por isso venha com fardamento, calça e calçado fechado. Fuja das advertências assim como eu fujo dos meus predadores, use o uniforme. 
</div></div></div></div></div>
<br>


<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 ext-gray-600 dark:text-gray-400 rounded-lg shadow-md">
    No refeitório do campus são servidas as seguintes refeições: café da manhã, almoço e jantar. 
</div></div></div></div></div>
<br>
<div class="flex items-center px-6 mx-auto grid">
    <div class="flex items-center px-6 mx-auto grid">
        <div class="flex items-center px-6 mx-auto grid">
  <div class="grid gap-5 mb-5 md:grid-cols-6 xl:grid-cols-5">
    <div
    class="px-4 py-3 mb-8 bg-purple-600 rounded-lg shadow-md dark:bg-purple-600 text-white ">
    O campus possui residência, tanto masculina como feminina. O que isso quer dizer? É como um internato, os alunos moram no campus. Para entrar, é necessário esperar o período de seleção. 
</div></div></div></div></div>
<br>
      </div></div>
{% endblock %}