{% extends "_base.html" %}
{% load static %}

{%load bootstrap%}
{% block title %}Enter new password{% endblock %}

{% block content %}

{% if validlink %}

<label class="block text-sm">
  <form action="." method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
  
  <button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" type="submit">Entrar
  </button>
</form></label>


{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}